* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    border-radius: 20px;
    background-color: #d3d3d3;
    max-width: 400px;
  }
  button.submit-btn{
    border-radius: 20px;
    height: 40px;
    width: 60px;
    padding: 8px;
    background-color: #fff700;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  button.submit-btn:hover{
    background-color: #ebe539;
  }
  input,
  textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
  }
  .contact-form label,
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    margin-bottom: 10px;
    width: 100%;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 60px;
  }
  
  nav a.active {
    color: #1F86FF;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  
  nav a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1F86FF;
    left: 0;
    bottom: -5px;
  }
  
  /* Header Styling */
  header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s ease;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
  }
  
  nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #1F86FF;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
  }
  
  nav a:hover::after {
    width: 100%;
  }  
  
  .quote-btn {
    background-color: #32D96B;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
  }
  
  .quote-btn:hover {
    background-color: #2eb059;
  }
  
  #hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #fff;
    overflow: hidden;
  }
  
  #hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  #hero h1, #hero p {
    z-index: 1;
  }  

  .logo{
    height: 100px;
    width: 100px;
  }
  
  #hero h1 {
    font-size: 3rem;
  }
  
  #hero p {
    font-size: 1.5rem;
  }
  
  /* About and Services Section */
  section {
    padding: 20px;
    text-align: center;
  }
  
  .service-list {
    display: flex;
    justify-content: space-around;
  }
  
  /* Footer Styling */
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
  }

.ourvision-h1{
  text-align: left;
  color: #32D96B;
  font-size: 50px;
  margin-top: 50px;
}

.ourvision-p{
  text-align: left;
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
}

.ourmission-h1{
  text-align: right;
  color: #32D96B;
  font-size: 50px;
  margin-top: 150px;
}

.ourmission-p{
  text-align: right;
  margin-top: 40px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 35px;
}

#who-we-are {
  background-image: url('images/gradient-main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#homeabout{
  height: 100vh;
}

.whoweare-h1{
  text-align: left;
  color: #000;
  font-size: 40px;
  margin-top: 0px;
}

.whoweare-p{
  text-align: left;
  font-size: 25px;
  color: #333;
}

.whoweare-button {
  border-radius: 50px;
  height: 50px;
  width: 200px;
  background-color: #1F86FF;
  color: white;
  font-size: 18px;
  align-items: left;
  display: block;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.whoweare-button:hover{
  background-color: #3d95f9;
  cursor: pointer;
}

.three-sections{
  display: flex;
  flex-direction: row;
  gap: 140px;
}

.num-first b,
.num-second b,
.num-third b {
  font-size: 65px; 
}

.num-first,
.num-second,
.num-third {
  font-size: 20px; 
  color: #333; 
}


#who-we-are img {
  max-width: 40%;
  height: 550px;
  display: block;
  margin-right: 100px;
}

#our-projects{
  background-image: url('images/main-four.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#our-services {
  padding: 50px;
  background: linear-gradient(to right, rgb(146, 205, 245), rgb(171, 240, 251), rgb(201, 233, 255), rgb(255, 255, 255));
}

.services-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.services-text {
  max-width: 25%;
  text-align: left;
}

.services-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.services-text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.services-text button {
  background-color: #32D96B;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.services-text button:hover{
  background-color: #2eb059;
  cursor: pointer;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 65%;
  height: 100vh;
}

.service-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1rem;
  color: #333;
}

.service-item {
  width: 450px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  height: 250px;
  text-align: left;
  padding-left: 0;
}

.whoweare-content {
  padding: 60px 20px;
  color: #fff;
  text-align: center;
}

.hero-logo {
  position: absolute;
  top: 20px;
  left: 40px;
  height: 350px;
}

.hero-box {
  position: absolute;
  bottom: 80px; 
  right: 20px;
  height: 170px;
  width: 350px;
  border: 2px solid black;
  background-color: #888;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
}

.hero-box p {
  margin: 5px 0;
}

@media(max-width:1516px){
  .image-whoweare {
    background-image: none;
  }
}

@media(max-width: 490px){
  nav a {
    font-size: 0.6rem;
  }

  nav a.active {
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.5rem;
    height: 20px;
    width: 80px;
  }
}

@media(max-width: 574px){
  nav a {
    font-size: 0.6rem;
  }

  nav a.active {
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.5rem;
    height: 20px;
    width: 80px;
  }
}

@media(max-width: 455px){
  nav a {
    font-size: 0.4rem;
  }

  nav a.active {
    border-radius: 5px;
    font-size: 0.5rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.4rem;
    height: 20px;
    width: 60px;
  }
}

@media(max-width: 441px){
  nav a {
    font-size: 0.4rem;
  }

  nav a.active {
    border-radius: 5px;
    font-size: 0.5rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.4rem;
    height: 20px;
    width: 70px;
  }
}

@media(max-width: 394px){
  nav a {
    font-size: 0.4rem;
  }

  nav a.active {
    border-radius: 5px;
    font-size: 0.rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.4rem;
    height: 10px;
    width: 65px;
  }

  .logo{
    height: 70px;
    width: 70px;
  }
}

@media(max-width: 360px){
  nav a {
    font-size: 0.35rem;
  }

  nav a.active {
    border-radius: 5px;
    font-size: 0.4rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.35rem;
    height: 10px;
    width: 60px;
  }

  .logo{
    height: 50px;
    width: 50px;
  }
}

@media(max-width: 316px){
  nav a {
    font-size: 0.3rem;
  }

  nav a.active {
    border-radius: 5px;
    font-size: 0.35rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.3rem;
    height: 20px;
    width: 50px;
  }

  .logo{
    height: 50px;
    width: 50px;
  }
}

@media(max-width: 384px){
  nav a {
    font-size: 0.4rem;
  }

  nav a.active {
    border-radius: 5px;
    font-size: 0.rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.4rem;
    height: 10px;
    width: 65px;
  }

  .logo{
    height: 70px;
    width: 70px;
  }
}

@media(max-width: 345px){
  nav a {
    font-size: 0.35rem;
  }

  nav a.active {
    border-radius: 5px;
    font-size: 0.4rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.35rem;
    height: auto;
    width: auto;
  }

  .logo{
    height: 45px;
    width: 45px;
  }
}

@media(max-width: 300px){
  nav a {
    font-size: 0.3rem;
  }

  nav a.active {
    font-size: 0.35rem;
    font-weight: bolder;
  }

  .quote-btn {
    font-size: 0.3rem;
    height: auto;
    width: auto;
  }

  .logo{
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 480px) {
  .hero-logo{
    height: 250px;
  }
  .hero-box {
    height: 120px;
    width: 240px;
  }

  #hero h1 {
    font-size: 1.5rem;
  }

  #hero p {
    font-size: 1rem;
  }

  #homeabout h1 {
    font-size: 1.5rem;
  }

  .three-sections {
    text-align: center;
  }

  nav ul {
    padding: 10px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1246px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .service-item {
    width: 350px;
    height: 200px;
  }
}

@media (max-width: 1209px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .service-item {
    width: 300px;
    height: 220px;
  }
}

@media (max-width: 1180px) {
  .image-whoweare{
    width: 250px;
    height: 500px;
  }
}

@media (max-width: 1063px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .service-item {
    width: 280px;
    height: 220px;
  }
}

@media (max-width: 1000px) {
  #who-we-are img{
    display: none;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .service-item {
    width: 220px;
    height: 280px;
  }
}

@media (max-width: 825px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .service-item {
    width: 500px;
    height: 100px;
  }

  #our-services h3{
    font-size: 20px;
  }

  #our-services p{
    font-size: 10px;
  }
}

@media (max-width: 815px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .service-item {
    width: 400px;
    height: 120px;
  }

  #our-services h3{
    font-size: 20px;
  }

  #our-services p{
    font-size: 10px;
  }
}

@media (max-width: 666px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .service-item {
    width: 300px;
    height: 130px;
  }

  #our-services h3{
    font-size: 20px;
  }

  #our-services h1{
    font-size: 30px;
  }

  #our-services p{
    font-size: 10px;
  }
}

@media (max-width: 516px) {
  #our-services h3{
    font-size: 20px;
  }

  #our-services p{
    font-size: 10px;
  }
  
  #our-services button {
    height: 15px;
    width: 80px;
    font-size: 5px;
  }

  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .service-item {
    width: 250px;
    height: 130px;
  }
}

@media (max-width: 433px) {
  .services-content{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 321px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .service-item {
    width: 200px;
    height: 130px;
  }
}

@media (max-width: 278px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .service-item {
    width: 170px;
    height: 130px;
  }
}

@media (max-width: 904px) {
  .ourvision-h1, .ourmission-h1{
    font-size: 30px;
  }

  .ourvision-p, .ourmission-p {
    font-size: 15px;
  }
}

@media (max-width: 301px) {
  .ourvision-h1, .ourmission-h1{
    font-size: 20px;
  }

  .ourvision-p, .ourmission-p {
    font-size: 10px;
  }
}

@media (max-width: 773px) {
  .whoweare-h1{
    font-size: 20px;
  }

  .whoweare-p{
    font-size: 15px;
  }

  .whoweare-button{
    height: 40px;
    width: 150px;
  }

  .num-first,
  .num-second,
  .num-third {
    font-size: 10px;  
  }

  .num-first b,
  .num-second b,
  .num-third b {
    font-size: 25px; 
  } 

  footer p{
    font-size: 10px;
  }
}

@media (max-width: 497px) {
  .three-sections{
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  .num-first,
  .num-second,
  .num-third {
    font-size: 10px;  
  }

  .num-first b,
  .num-second b,
  .num-third b {
    font-size: 25px; 
  } 
}

@media (max-width: 420px) {
  .three-sections{
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .num-first,
  .num-second,
  .num-third {
    font-size: 10px;  
  }

  .num-first b,
  .num-second b,
  .num-third b {
    font-size: 25px; 
  } 

  footer p{
    font-size: 6px;
  }
}

@media (max-width: 378px) {
  .three-sections{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .num-first,
  .num-second,
  .num-third {
    font-size: 10px;  
  }

  .num-first b,
  .num-second b,
  .num-third b {
    font-size: 25px; 
  } 
}